ul {
  list-style-type: none;
}

h1 .title {
  font-size: 2.5rem;
}

.navbar {
  border-radius: 0px;
}

.navbar-nav {
  padding-top: 15px;
}

.nav-link {
  padding: 8px;
}

.fixed-top {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
}

.container-fluid {
  padding-top: 5rem;
}

.main-title {
  text-align: center;
  margin-top: 8rem;
  margin-bottom: 5rem;
}

.title {
  text-align: center;
}

.submission-form {
  padding-right: 8rem;
}

.sequence-well {
  overflow-wrap: break-word;
  z-index: -100;
}

.best-match {
  background-color: #efe0ff;
}

.full-match {
  background-color: #e2efff;
}

.match {
  background-color: #f4f4ff;
}

.border-bottom {
  border-bottom: 3px solid #FFFFFF;
}
