{% extends "base.html" %}

{% block content %}
    <div class="main-title">
        <h1 class="title">FingerPRINTScan</h1>
        <p class="lead">Scan PRINTS database with a protein sequence</p>
    </div>

    {% if form.errors %}
        {% for field, errors in form.errors.items() %}
            {% for error in errors %}
                <div class="alert alert-warning">
                {{ error }}
                </div>
            {% endfor %}
        {% endfor %}
    {% endif %}

    <form action="" method="post" class="form-horizontal submission-form">
        {{ form.csrf }}

        <div class="form-group">
            <label for="sequence" class="control-label col-xs-2">{{ form.sequence.label }}</label>
            <div class="col-xs-10">
                <textarea id="sequence" name="sequence" class="form-control" rows="5"></textarea>
            </div>
        </div>

        <div class="form-group">
            <label for="substitution_matrix" class="control-label col-xs-2">{{ form.substitution_matrix.label }}</label>
            <div class="col-xs-10">
                <label class="radio-inline"><input type="radio" name="substitution_matrix" checked="checked" value=62>BLOSUM 62</label>
                <label class="radio-inline"><input type="radio" name="substitution_matrix" value=45>BLOSUM 45</label>
                <label class="radio-inline"><input type="radio" name="substitution_matrix" value=80>BLOSUM 80</label>
            </div>
        </div>

        <div class="form-group">
            <label for="threshold" class="control-label col-xs-2">{{ form.threshold.label }}</label>
            <div class="col-xs-1">
                <input id="threshold" name="threshold" class="form-control" value=100></input>
            </div>
        </div>

        <div class="form-group">
            <div class="col-xs-offset-2 col-xs-10">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </div>
    </form>
{% endblock %}
