{% extends "base.html" %}

{% block content %}
    <h1 class="title">Scan of protein sequence</h1>
    <div class="row">
        <div class="well sequence-well col-md-8 col-md-offset-2">{{ form.sequence.data }}</div>
    </div>

    <div class="row">
        <h3 class="title" style="margin-bottom: 15px">Top scoring fingerprints, detailed by motif</h3>
    </div>

    {% for fingerprint in all_f %}
        {{ fingerprint.identifier, fingerprint.code, fingerprint.sequence }}
    {% endfor %}

    <table class="table">
        <thead>
            <tr>
                <th>FingerPrint Name</th>
                <th>Motif number</th>
                <th>ID Score</th>
                <th>Profile score</th>
                <th>Sequence</th>
                <th>Length</th>
                <th>Position</th>
            </tr>
        </thead>
        <tbody>
            {% for fingerprint in results.fingerprints %}
                {% set fingerprint_loop = loop %}
                {% for motif_score in fingerprint.motifs %}
                    <tr class="{{ vu.row_class(fingerprint_loop.index, loop.last, fingerprint.is_full_match) }}">
                        {% if loop.first %}
                            <td rowspan={{ fingerprint.motifs|length }} class="border-bottom">{{ fingerprint.name }}</td>
                        {% endif %}
                        <td>{{ loop.index }} of {{ fingerprint.motifs|length }}</td>
                        <td>{{ "%.2f" % motif_score.top_match().id_score }}</td>
                        <td>{{ motif_score.top_match().profile_score }}</td>
                        <td>{{ motif_score.top_match().sequence }}</td>
                        <td>{{ motif_score.top_match().length }}</td>
                        <td>{{ motif_score.top_match().position }}</td>
                    </tr>
                {% endfor %}
            {% endfor %}
        </tbody>
    </table>

{% endblock %}
